<%= simple_form_for(@user, as: :user, url: '#', html: { }) do |f| %>
  <%= field_set_tag 'Account Info' do %>
    <%= f.input :username, placeholder: 'yourusername', input_html: { 'data-one-field' => true, 'data-field-name' => 'username', 'data-controller' => 'profile', 'data-action' => 'update', 'data-root' => 'user', 'data-url' => profile_path(@user), value: @user.username } -%>
    <%= gravatar_image_tag(@user.email, alt: @user.profile.full_name, alt: @user.profile.full_name, id: 'gravatar', class: '') %>
    <%= f.input :email, placeholder: 'me@example.com', input_html: { 'data-one-field' => true, 'data-field-name' => 'email', 'data-controller' => 'profile', 'data-action' => 'update', 'data-root' => 'user', 'data-url' => profile_path(@user), value: @user.email } -%>
  <% end %>

  <%= f.simple_fields_for :profile do |profile_fields| %>
    <%= field_set_tag 'Public Info' do %>
      <%= profile_fields.input :first_name, input_html: {
        'data-one-field' => true,
        'data-field-name' => 'first_name',
        'data-controller' => 'profile',
        'data-action' => 'update',
        'data-root' => 'profile',
        'data-url' => profile_path(@user),
        value: @user.profile.first_name
      } -%>

      <%= profile_fields.input :last_name, input_html: {
        'data-one-field' => true,
        'data-field-name' => 'last_name',
        'data-controller' => 'profile',
        'data-action' => 'update',
        'data-root' => 'profile',
        'data-url' => profile_path(@user),
        value: @user.profile.last_name
      } -%>

      <%= profile_fields.input :bio, as: :string, placeholder: 'Quick introduction for you to say "Hi!" and tell people a little bit about yourself.', input_html: { 'data-one-field' => true, 'data-field-name' => 'bio', 'data-controller' => 'profile', 'data-action' => 'update', 'data-root' => 'profile', 'data-url' => profile_path(@user), value: @user.profile.bio } -%>

      <%= profile_fields.input :interests, as: :string, placeholder: 'ruby, devops, linux', input_html: { 'data-one-field' => true, 'data-field-name' => 'interests', 'data-controller' => 'profile', 'data-action' => 'update', 'data-root' => 'profile', 'data-url' => profile_path(@user), value: safe_join(@user.profile.interests || [], ', ') } -%>
      <p class="help-block">Comma separated list of interests.</a>
    <% end %>

    <%= field_set_tag 'Online Info' do %>
      <%= profile_fields.input :homepage, placeholder: 'http://www.example.com', input_html: { 'data-one-field' => true, 'data-field-name' => 'homepage', 'data-controller' => 'profile', 'data-action' => 'update', 'data-root' => 'profile', 'data-url' => profile_path(@user), value: @user.profile.homepage } -%>

      <%= profile_fields.input :twitter, placeholder: '@ugtastic', input_html: { 'data-one-field' => true, 'data-field-name' => 'twitter', 'data-field-value' => 'screen_name', 'data-controller' => 'profile', 'data-action' => 'update', 'data-root' => 'profile', 'data-url' => profile_path(@user), value: @user.profile.twitter && @user.profile.twitter.screen_name } -%>
    <% end %>

    <%= field_set_tag 'Geographic Info' do %>
      <%= profile_fields.input :address, required: true, placeholder: '614 18th Ave Menlo Park, CA 94025', hint: 'As much of the address as you know. Please provide at least the city, state/region/provice, and country.', as: :string, input_html: { 'data-one-field' => true, 'data-field-name' => 'address', 'data-controller' => 'profile', 'data-action' => 'update', 'data-root' => 'profile', 'data-url' => profile_path(@user), value: @user.profile.address } -%>
    <% end %>
  <% end %>

  <!--
  <%= field_set_tag 'Personal Info' do %>
    <div class='bs-callout bs-callout-warning'>
      <strong>Why are we asking for this information?</strong>

      <p>In a nutshell this data can help to build a better understanding of people as they are represented in the
        technical community.</p>

      <p>You are free to fill in as little or as much as you are comfortable sharing. The presence of this information
        will have no negative </p>

      <p>This information is stored in encrypted fields and is marked to be excluded from logging and New Relic. We
        strive to protect your sensitive data and appreciate your trust.</p>

      <p>If you have any questions or concerns about how we collect and store private data feel free to
        <a href="mailto:mike+privacy@ugl.st">contact us</a>.</a>
    </div>
    <%= f.simple_fields_for :personal do |personal_fields| %>
      <%= personal_fields.input :birthday, class: 'datepicker form-control', 'data-behaviour' => 'datepicker', placeholder: 'MM/DD/YYYY', as: :string %>
      <%= personal_fields.input :gender, hint: 'Please provide the gender you identify as.', as: :string %>
      <%= personal_fields.input :parental_status, as: :string %>
      <%= personal_fields.input :ethnicity, as: :string %>
      <%= personal_fields.input :race, as: :string %>
      <%= personal_fields.input :relationship_status, as: :string %>
      <%= personal_fields.input :sexual_orientation, as: :string %>
      <%= personal_fields.input :religious_affiliation, as: :string %>
    <% end %>
  <% end %>
  -->
<% end %>

<%= content_for :javascript do %>
  <script type="text/javascript">
    $(document).ready(function () {
      $('.datepicker').datepicker();
      $('#user_email').blur(function () {
        var gravatar_url = 'https://secure.gravatar.com/avatar/' + md5($('#user_email').val()) + '?default=identicon&amp;secure=true';
        $('#gravatar').attr('src', gravatar_url);
      });
    });
  </script>
<% end %>

