<%= content_for :breadcrumb do %>
    <li>Profiles</li>
<% end %>

<ul class="media-list">
  <% @users.includes(:profile).each do |user| %>
      <li class="media">
        <%= link_to profile_path(user), class: 'pull-left' do %>
            <%= gravatar_image_tag(user.email, size: 64, style: 'height: 64px; width: 64px', alt: user.profile.full_name, alt: user.profile.full_name, class: '') %>
        <% end %>
        <div class="media-body">
          <h4><%= user.username %></h4>

          <p class="description"><%= Sanitize.clean(user.profile.bio || '', Sanitize::Config::BASIC).truncate(140) %></p>
          <% if user.profile.interests.present? %>
              <% user.profile.interests.each do |interest| %>
                  <span class="tags"><span class="glyphicons tag"></span> <%= interest %></span></span>
              <% end %>
          <% end %>
          <div><%= link_to 'Full-profile', profile_path(user) %></div>
        </div>
      </li>
  <% end %>
</ul>
