= content_for :breadcrumb do
  %li= link_to 'Profiles', profiles_path
  %li= @user.username
- if current_user && current_user == @user
  #profile-management.col-sm-6.well.col-sm-offset-3
    .btn-group
      %button#profile-managment-options.btn.btn-default.dropdown-toggle{'data-toggle' => 'dropdown', type: 'button'}
        Manage Profile
        %span.caret
      %ul.dropdown-menu{role: 'menu'}
        %li= link_to 'Edit', edit_profile_public_path(@user.profile), id: 'profile-edit'
.col-sm-6.well.col-sm-offset-3{itemscope: '', itemtype: 'https://schema.org/Person'}
  %center
    = gravatar_image_tag(@user.email, size: 128, style: 'height: 192px; width: 192px', alt: @user.profile.full_name, alt: @user.profile.full_name, class: '', 'itemprop' => 'image')
    %h3{itemprop: 'name'}= @user.profile.full_name
    %h4{itemprop: 'alternateName'}= @user.username
    %p.small{itemprop: 'address', itemscope: '', itemtype: 'https://schema.org/PostalAddress'}
      %span{itemprop: 'addressLocality'}>= @user.profile.city
      ,
      %span{itemprop: 'addressRegion'}= @user.profile.state_province
      %span{itemprop: 'addressCountry'}= @user.profile.country
    %p
      %em= Sanitize.clean(@user.profile.bio, Sanitize::Config::BASIC)
    - if @user.profile.interests.present?
      .profile-interests
        - @user.profile.interests.each do |interest|
          %span.tags
            %span.glyphicons.tag
            = interest
.col-sm-6.well.col-sm-offset-3
  %h4 Registered User-Groups:
  - if @user.user_groups_registered.present?
    - @user.user_groups_registered.each do |ug|
      %div= link_to ug.name, user_group_path(ug)
  - else
    %em No User-Groups registered.
  - if current_user == @user
    %div{style: 'margin-top: 16px;'}= link_to 'Register a new User-Group', new_user_group_path, role: 'button', class: 'btn btn-primary active'
