<div class="container" id="wrap">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Resend confirmation instructions</h2>
      <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'form-vertical' }) do |f| %>
        <%= f.error_notification %>
        <%= display_base_errors resource %>
        <%= f.input :email, autofocus: true %>
        <%= f.button :submit, 'Resend confirmation instructions', class: 'btn-primary' %>
      <% end %>
      <hr>
      <div class="well">
        <%= render 'devise/shared/links' %>
      </div>
    </div>
  </div>
</div>

