<div class="container" id="wrap">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="h1">Sign up</div>
      <p class="lead">It's free and always will be.</p>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-vertical'}) do |f| %>
        <%= f.error_notification %>
        <%= display_base_errors resource %>
        <%= f.input :email, required: true, placeholder: 'Email' %>
        <%= f.input :password, required: true, placeholder: 'Password' %>
        <%= f.input :password_confirmation, required: true, placeholder: 'Confirm password' %>
        <p>By clicking Sign Up, you agree to our <%= link_to 'Terms of Service', pages_terms_of_service_path %> and that you have read our <%= link_to 'Privacy page', pages_privacy_path %>.</p>
        <%= f.button :submit, 'Sign up', class: 'btn-primary' %>
      <% end %>
      <hr>
      <div class="well">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
