= simple_form_for(@user_group) do |f|
  = f.error_notification
  .row
    .col-lg-4
      = field_set_tag 'User-Group Info' do
        = f.input :name
        = f.input :description
        = f.input :topic_list
        = image_tag @user_group.logo_url, class: '', style: 'max-height: 100px; max-width: 100px;'
        = f.input :logo

    .col-lg-4
      = field_set_tag 'Geographic Info' do
        #googlemaps-mini
        = f.input :address, required: true, placeholder: 'City, State/Province Country', hint: 'Example: 614 18th Ave Menlo Park, CA 94025', input_html: { value: @user_group.formatted_address }, as: :string
        %p.help-block
          Please enter at least your City, State/Province Country or more precise address info.

    .col-lg-4
      = field_set_tag 'Online Info' do
        = f.input :homepage, placeholder: 'http://www.ugtastic.com'
        = f.input :twitter, placeholder: '@ugtastic', input_html: { value: @user_group.twitter_account.try(:screen_name) }

  .row.well
    .actions= f.submit 'Save User-Group', class: 'btn btn-primary'
