<h1>User-Group List</h1>

<ul>
  <% @user_groups.each do |user_group| %>
    <li>
      <h2><%= user_group.name %></h2>
      <div><%= user_group.formatted_address %></div>
      <p class="description"><%= user_group.description.truncate(140) %></p>
      <ul>
        <% user_group.topics.each do |topic| %>
          <li><%= topic %></li>
        <% end %>
      </ul>
      <div><%= link_to user_group.homepage %></div>

      <div><%= link_to 'Full-profile', user_group %></div>

      <% if current_user && (current_user.admin? || current_user == user_group.registered_by) %>
        <div><%= link_to 'Edit', edit_user_group_path(user_group) %></div>
        <div><%= link_to 'Destroy', user_group, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      <% end %>
    </li>
  <% end %>
</ul>

<br>

<%= link_to 'Register a new User-Group', new_user_group_path %>
