= simple_form_for(@profile, url: profile_public_path(@profile))do |f|
  = field_set_tag 'Public Info' do
    = f.input :first_name
    = f.input :last_name
    = f.input :bio, as: :string, placeholder: 'Quick introduction for you to say "Hi!" and tell people a little bit about yourself.'
    = f.input :interest_list, placeholder: 'ruby, devops, linux'
    %p.help-block
      Comma separated list of interests.
  = field_set_tag 'Online Info' do
    = f.input :homepage, placeholder: 'http://www.example.com'
    = f.input :twitter, placeholder: '@ugtastic', input_html: { value: @profile.twitter.to_s }
  = field_set_tag 'Geographic Info' do
    = f.input :address, required: true, placeholder: '614 18th Ave Menlo Park, CA 94025', hint: 'As much of the address as you know. Please provide at least the city, state/region/provice, and country.', input_html: { value: @profile.formatted_address }

  .actions= f.submit 'Update Profile', class: 'btn btn-primary'
