.h1.text-center(style="font-size: 208px") AWESOME!
.col-lg-8
  .p.lead Your new User-Group has been registered. You can add more details to your profile but for now you can bask in the glory of your new User-Group's profile.
  .p
    Click the
    = link_to @user_group, class: 'btn btn-default' do
      %span.glyphicons.zoom_in
      Full Profile
    &nbsp; button on the right to see your public profile or jump right in and start to
    = link_to 'edit', user_groups_path(@user_group)
    your UG right away and add details and links.

.col-lg-4
  .well(style="height: 264px; position: relative;")
    = link_to @user_group, class: 'pull-left' do
      = image_tag @user_group.logo.present? ? @user_group.logo_url : 'user_group_avatar_fallback.png', class: 'media-object', style: 'max-height: 96px; max-width: 96px; padding-right: 8px; padding-bottom: 4px;'
    %h4= @user_group.name
    %p.description
      = Sanitize.clean(@user_group.description, Sanitize::Config::BASIC).truncate(144)
    %div(style="text-align: right; position: absolute; bottom: 16px; right: 16px;")
      = link_to @user_group, class: 'btn btn-default' do
        %span.glyphicons.zoom_in
        Full Profile

