%br

#root-panel
  .row(style="background-color: rgba(255, 255, 255, 0.84);")
    .col-lg-12
      .h2 Build. Participate. Connect.
      %p.lead Join these User-Groups who've already registered...
  .row(style="background-color: rgba(255, 255, 255, 0.84);")
    - @user_groups.each do |user_group|
      - if user_group
        .col-lg-4
          .well(style="height: 264px; position: relative;")
            = link_to user_group, class: 'pull-left' do
              = image_tag user_group.logo.present? ? user_group.logo_url : 'user_group_avatar_fallback.png', class: 'media-object', style: 'max-height: 96px; max-width: 96px; padding-right: 8px; padding-bottom: 4px;'
            %h4= user_group.name
            %p.description
              = Sanitize.clean(user_group.description, Sanitize::Config::BASIC).truncate(144)
            %div(style="text-align: right; position: absolute; bottom: 16px; right: 16px;")
              = link_to user_group, class: 'btn btn-default' do
                %span.glyphicons.zoom_in
                Full Profile
