%br

#root-panel
  .row(style="background-color: rgba(255, 255, 255, 0.84);")
    .col-lg-12
      .h2 Build. Participate. Connect.
      %p.lead Join these User-Groups who've already registered...
  .row(style="background-color: rgba(255, 255, 255, 0.84);")
    - @user_groups.each do |user_group|
      - if user_group
        .col-lg-4
          .well(style="height: 264px; position: relative;")
            = link_to user_group, class: 'pull-left' do
              = image_tag user_group.logo.present? ? user_group.logo_url : 'user_group_avatar_fallback.png', class: 'media-object', style: 'max-height: 96px; max-width: 96px; padding-right: 8px; padding-bottom: 4px;'
            %h4= user_group.name
            %p.description
              = Sanitize.clean(user_group.description, Sanitize::Config::BASIC).truncate(144)
            %div(style="text-align: right; position: absolute; bottom: 16px; right: 16px;")
              = link_to user_group, class: 'btn btn-default' do
                %span.glyphicons.zoom_in
                Full Profile
    .col-lg-12(style="height: 224px; font-size: x-large; font-weight: bolder;")
      .h3 Registering a User-Group is easy. Start here.
      = form_for(@form, url: awesome_path) do |f|
        :erb
          My User-Group is <%= f.text_field(:name, placeholder: 'Super User-Group', 'data-autosize-input' => nil, required: true) %>.

          We're based in <%= f.text_field(:address, placeholder: 'City, State/Province Country', 'data-autosize-input' => '', required: true) %>.
          You can learn more at <%= f.url_field(:homepage, placeholder: 'http://yourusergroup.com', 'data-autosize-input' => '') %>.

          <% unless current_user %>
            I know you respect my <%= link_to('privacy', privacy_path, target: '_blank') %>
            so create an account for me with <%= f.email_field(:email, placeholder: 'email@address.com', 'data-autosize-input' => '', required: true) %>
            and <%= f.password_field(:password, placeholder: 'password', 'data-autosize-input' => '', required: true,  pattern: '.{8,}', title: '8 characters minimum') %>.
          <% end %>

          <button type="submit" class="btn btn-danger">Register</button>
