<br>
<div class="row well">
  <div class="col-lg-6">
    <div class="h2">Build. Participate. Connect.</div>
    <p class="lead">Join the global technical community by promoting your community and connecting with sponsors.</p>
    <hr>
    <div class="h2">Join these UGs who also listed...</div>
    <ul class="media-list">
      <% @user_groups.each do |user_group| %>
        <li class="media">
          <%= link_to user_group, class: 'pull-left' do %><%= image_tag user_group.logo.present? ? user_group.logo_url : 'user_group_avatar_fallback.png', class: 'media-object', style: 'max-height: 64px; max-width: 64px;' %><% end %>
          <div class="media-body">
            <h4><%= user_group.name %></h4>
            <em><%= user_group.formatted_address %></em>
            <% if user_group.topics.present? %><% user_group.topics.each do |topic| %><span class="tags"><span class="glyphicons tag"></span><%= topic %></span></span><% end %><% end %>
        </div>
      </li>
    <% end %>
    <br>
    <em><%= link_to 'Click to browse all the registered User-Groups.', user_groups_path %></em>
  </ul>
</div>
<div class="col-lg-6">
  <div class="h1">Sign up</div>
  <p class="lead">It's free and always will be.</p>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-vertical'}) do |f| %>
    <%= f.error_notification %>
    <%= display_base_errors resource %>
    <%= f.input :email, required: true, placeholder: 'Email', input_html: {autofocus: true} %>
    <%# = f.input :password, required: true, placeholder: 'Password' %>
    <%# = f.input :password_confirmation, required: true, placeholder: 'Confirm password' %>
    <p>By clicking Sign Up, you agree to our <%= link_to 'Terms of Service', pages_terms_of_service_path %> and that you have read our <%= link_to 'Privacy page', pages_privacy_path %>.</p>
    <%= f.button :submit, 'Sign up', class: 'btn-primary' %>
  <% end %>
</div>
</div>
