<div class="container footer">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li>User-Group List
            <li><%= link_to user_groups_path do %><span class="glyphicons list"></span> User-Groups List<% end %></li>
            <li><%= link_to profiles_path do %><span class="glyphicons group"></span> Member Directory<% end %></li>
            <li><a href="http://www.ugtastic.com"><span class="glyphicons film"></span> Community Interviews</a></li>
            <li><%= link_to user_groups_url(format: :rss) do %><span class="social rss"></span> User-Groups RSS<% end %></li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="list-unstyled">
            <li>Help for…</li>
            <li><a href="#"><span class="glyphicons girl"></span> User-Group Organizers</a></li>
            <li><a href="#"><span class="glyphicons glyphicons group"></span> Community Members</a></li>
            <li><a href="#"><span class="glyphicons briefcase"></span> Recruiters &amp; Marketers</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="list-unstyled">
            <li>Account</li>
            <%- if current_user -%>
              <li><%= link_to profile_path(current_user) do %><span class="glyphicons girl"></span> <%= current_user.username || 'Username?' %><% end %></li>
              <li><%= link_to destroy_user_session_path, method: :delete do %><span class="glyphicons log_out"></span> Sign out<%- end -%></li>
            <%- else -%>
              <li><%= link_to new_registration_path(User) do %><span class="glyphicons user_add"></span> Sign up<%- end -%></li>
              <li><%= link_to new_session_path(User) do %><span class="glyphicons log_in"></span> Sign in<%- end -%></li>
            <%- end -%>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="list-unstyled">
            <li><%= link_to new_user_group_path, class: 'btn btn-danger', style: 'color: white; font-weight: bold' do %><span class="glyphicons plus"></span> Register a User-Group!</a><%- end -%></li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-8">
        <div class="btn-group-xs" role="group">
          <%= link_to 'Terms of Service', pages_terms_of_service_path, class: "btn btn-default" %>
          <%= link_to 'Privacy', pages_privacy_path, class: "btn btn-default" %>
        </div>
      </div>
      <div class="col-md-4">
        <p class="muted pull-right">© 2014 <a href="mailto:mike@ugtastic.com">Mike Hall</a>. All rights reserved</p>
      </div>
    </div>
  </div>
</div>
</div>
