!!!
%html{lang: 'en'}
  = render 'layouts/head'
  %body
    = render 'layouts/nav_bar'
    .container
      = render 'layouts/breadcrumb'
      = render partial: 'layouts/flash'
      - if current_user && current_user.username.blank?
        .alert.alert-warning
          %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'alert', type: 'button'} &times;
          = content_tag :div, id: 'flash_warning' do
            Looks like your username is blank. Click to #{link_to 'set your username', edit_profile_account_path(current_user.profile), class: 'btn btn-default', id: 'set-your-username'}
      = yield
      = render 'layouts/footer'
